:root{
    --vermelho:#E50914;
    --preta:#141414;
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body, html {
    background: #141414;
    font-family: 'Arial', Times, serif;
    color: #fff;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

a:active,a:hover {
    outline: 0
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
audio,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0
}

footer,header,section {
    display: block
}

/* Page one */
/* header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
} */

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/07eca1c3-6efc-48cc-8880-5c9d7253ac8e/BR-pt-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}

/* Logo */
.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% , -50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

.showcase-content{
    position: relative;
    width: 100%;
    padding: 60px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.showcase-content h1{
    font-size: 3em;
    max-width: 800px;
    margin: 0em;
    font-weight: bold;
}

.showcase-content h2{
    color: white;
    font-size: 1.625rem;
    margin: 16px 146.333px;
}


.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.showcase-content input{
    min-width: 450px;
    height: 60px!important;
    border-bottom-right-radius: 0;
    padding: 10px 10px 0;
    width: 50%;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    display: block;
    cursor: text;
    color: #000;
}

.input{
    display: inline-flex;
    border: 0;
}

.input input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40%;
    color: #000;
    padding: 10px 11px;
    height: 44px;
}

.btn-home {
    background-color: var(--vermelho);
    border-radius: 2px;
    border: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: normal;
    padding: 7px 17px;
    text-align: center;
    margin-right: 0.5rem;
    outline: none;
}

.btn {
    font-size: 1.5em;
    padding: 15.5px;
    border: 0;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-red {
    color: #fff;
    background-color: #e50914;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e50914),to(#db0510));
    background-image: -webkit-linear-gradient(top,#e50914,#db0510);
    background-image: -moz- oldlinear-gradient(top,#e50914,#db0510);
    background-image: -o-linear-gradient(top,#e50914,#db0510);
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}

.showcase-content .btn-lg{
    margin: 0!important;
    border-top-left-radius: 0;
    border-left: 1px solid #333;
    font-size: 1.625rem;
    min-height: 60px;
    position: relative;
    padding: 0 1em;
    color: #fff;
    background-color: #e50914;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    line-height: initial;
    width: auto;
}

.story-card-animation{
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

.animation-card-container{
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.animation-card-container .card-img {
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card-text{
    font-size: 1.625rem;
    font-weight: 400;
    margin: -5% 0;
}

.card-text .card-sub-title{
    font-size: 1.625rem;
    font-weight: 400;
}

h1.card-title{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

h2.card-sub-title{
    font-size: 1.625rem;
    font-weight: 400
}
.card.img.container{
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-animation-container{
    position: relative;
    overflow: hidden;
    margin: -10% -5% -5% 0;
}

 .story-card-animation .card-img{
    position: relative;
    z-index: 2;
}

.story-card-animation .card-img-device{
    position: relative;
    z-index: 2;
}

img.card-img{
    max-width: 100%;
    height: auto;
    border: 0;
}

img.card-img-device{
    max-width: 100%;
    height: auto;
    border: 0;
}

.card-img .card-img-device {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

.story-card-animation .card-animation{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.story-card-animation .video-1{
    width: 100%;
    height: 100%;
}

.story-card-animation .video-2{
    width: 100%;
    height: 100%;
}

.faq-card{
    text-align: center;
}

.faq-card .faq-list {
    margin: 1.25em auto;
    max-width: 815px;
}

.story-card .faq-card {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

.faq-card .faq-list-item {
    list-style-type: none;
    margin: 0 0 8px 0;
}

ul>li {
    margin-left: 1.1em;
    margin-bottom: 5px;
    list-style-type: disc;
}

.story-card-subtitle .story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}

.story-card-title{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}