@media screen and (min-width: 0) and (max-width:480px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:1.5vw
    }
}

@media screen and (min-width: 481px) and (max-width:840px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:1vw
    }
}

@media screen and (min-width: 841px) and (max-width:1280px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1281px) and (max-width:1600px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1601px) and (max-width:1920px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1921px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:12px
    }
}

@media screen and (max-width: 480px) and (orientation:landscape) {
    body,html {
        font-size:1.5vw
    }
}

@media screen and (min-width: 481px) and (max-width:840px) and (orientation:landscape) {
    body,html {
        font-size:1.2vw
    }
}

/* @media screen and (min-width: 841px) and (max-width:1280px) and (orientation:landscape) {
    body,html {
        font-size:.85vw
    }
} */

@media screen and (min-width: 1281px) and (max-width:1600px) and (orientation:landscape) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1601px) and (max-width:1920px) and (orientation:landscape) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1921px) and (orientation:landscape) {
    body,html {
        font-size:14px
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 950px) and (max-width: 1449px), 
 only screen and (min-width: 1450px) {
    .story-card-animation {
        padding: 70px 45px;
    }
}



@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

/* Profile */
@media screen and (max-width: 400px) {
    .profiles-gate-container {
        max-width:initial
    }
}

@media screen and (min-width: 1666px) {
    .profiles-gate-container .profile-name {
        font-size:24px
    }

    .profiles-gate-container .addProfileIcon {
        font-size:100px
    }
}

@media screen and (max-width: 800px) {
    .profiles-gate-container .profile-name {
        font-size:12px
    }

    .list-profiles .profile-gate-label {
        font-size:30px
    }

    .profile-button {
        font-size:13px
    }
}

@media screen and (max-width: 865px) {
    .profiles-gate-container .addProfileIcon {
        font-size:50px
    }
}
