:root{
    --vermelho:#E50914;
    --preta:#141414;
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body, html {
    background: #141414;
    font-family: 'Arial', Times, serif;
    color: #fff;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    cursor: default;
}

a {
    background-color: transparent
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../assets/background-home.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}

.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% , -50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

.showcase-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}

.showcase-content h1{
    font-weight: 700;
    /* font-size: 34px; */
    /* margin:  30px; */
    max-width: 800px;
    /* line-height: 74.5px; */
}

.showcase-content h3{
    color: white;
    font-size: 25px;
    margin: 16px 0;
}

.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.showcase-content input{
    min-width: 450px;
    height: 60px!important;
    border-bottom-right-radius: 0;
    padding: 10px 10px 0;
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    display: block;
    cursor: text;
    color: #000;
}

.btn-home {
    display: inline-block;
    background-color: var(--vermelho);
    color: white;
    padding: 7px 17px;
    font-size: 2rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
    font-weight: 400;
    line-height: normal;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.showcase-content .btn-lg{
        position: relative;
        min-width: 74px;
        color: #fff;
        /* background-color: #e50914; */
        background-image: linear-gradient(to bottom,#e50914,#db0510);
        /* right: 0; */
        vertical-align: middle;
        cursor: pointer;
        /* font-weight: bold; */
        /* letter-spacing: .1px; */
        /* border-radius: 2px; */
        user-select: none;
        text-align: center;
        /* bottom: -8vh; */
        padding: 0px 26px;
        font-size: 3rem;
        min-height: 60px;
        /* font-size: 1.5rem; */
        /* text-transform: uppercase; */
        /* height: 36px; */
        /* width: 14rem; */
}

.card-0 , 
.card-1,
.card-2,
.card-3{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.card-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-0{
    padding-left: 100px;
}

.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1{
    padding-left: 80px;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
    margin-bottom: 50px;
}

.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2{
    padding-left: 100px;
}

.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.faq{
    text-align: center;
}

.faq h1{
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}

.questions li{
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;
    list-style-type: none;
}

.faq p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}

.input{
    display: block;
    margin: 0 90px 90px 90px;
    align-items: center;
    grid-template-columns: 50% 40%;
    box-shadow: none;
}

.input input{
    min-width: 450px;
    height: 60px!important;
    border-bottom-right-radius: 0;
    padding: 10px 10px 0;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    cursor: text;
    color: #000;
}

.input button{
    text-align: center;
    background-color: var(--vermelho);
    font-size: 25px;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    color: white;
}

.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer ,
.footer a{
    color: #999999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2.4;
}

a:active,a:hover {
    outline: 0
}

.bd {
    width: 100%
}

.bd {
    z-index: 0;
    overflow: hidden
}


.dark-background {
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #333;
    color: #fff;
}

.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
    font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
    font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

footer,header,main,menu,nav,section {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

b,strong {
    font-weight: 700
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

h1 {
    font-size: 4em;
    margin: .67em 0;
    height: 41px;
    z-index: 2;
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}
img {
    border: 0
}

.center-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2000
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1
}

.btn {
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    position: relative;
    color: #000;
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ddd));
    background-image: -webkit-linear-gradient(top,#e6e6e6,#ddd);
    background-image: -moz- oldlinear-gradient(top,#e6e6e6,#ddd);
    background-image: -o-linear-gradient(top,#e6e6e6,#ddd);
    background-image: linear-gradient(to bottom,#e6e6e6,#ddd);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2)
}

.btn .btn-text {
    position: relative;
    top: 1px
}

.btn.disabled {
    cursor: default;
    opacity: .5
}

.btn.hover,.btn:hover {
    text-decoration: none;
    background: #eaeaea;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2)
}

.btn.active,.btn:active {
    background: #c2c2c2
}

.btn.disabled {
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ddd));
    background-image: -webkit-linear-gradient(top,#e6e6e6,#ddd);
    background-image: -moz- oldlinear-gradient(top,#e6e6e6,#ddd);
    background-image: -o-linear-gradient(top,#e6e6e6,#ddd);
    background-image: linear-gradient(to bottom,#e6e6e6,#ddd);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2)
}

.btn-red {
    color: #fff;
    background-color: #e50914;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e50914),to(#db0510));
    background-image: -webkit-linear-gradient(top,#e50914,#db0510);
    background-image: -moz- oldlinear-gradient(top,#e50914,#db0510);
    background-image: -o-linear-gradient(top,#e50914,#db0510);
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45)
}

.btn-red.hover,.btn-red:focus,.btn-red:hover {
    background: #f40612;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45)
}

.btn-red:focus {
    -webkit-box-shadow: 0 0 0 .085em #85050b;
    -moz-box-shadow: 0 0 0 .085em #85050b;
    box-shadow: 0 0 0 .085em #85050b
}

.btn-red.active,.btn-red:active {
    background: #bb0a12
}

.btn-red.disabled {
    background-color: #e50914;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e50914),to(#db0510));
    background-image: -webkit-linear-gradient(top,#e50914,#db0510);
    background-image: -moz- oldlinear-gradient(top,#e50914,#db0510);
    background-image: -o-linear-gradient(top,#e50914,#db0510);
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45)
}

.button {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    display: inline-block;
    color: #b3b3b3;
    background-color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative
}

.button:focus {
    outline: 0
}

.button:hover {
    background-color: #333;
    cursor: pointer
}

.button.action-button {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #000
}

.button.action-button:hover {
    background-color: #fff;
    border-color: #fff
}

.button.action-button:hover.disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: default
}

.button.responsive {
    padding: 0 2vw;
    height: 3vw;
    line-height: 2.9vw;
    font-size: 1.4vw;
    letter-spacing: .15vw
}

@-webkit-keyframes shakeit {
    0% {
        -webkit-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    25% {
        -webkit-transform: translateX(4em);
        transform: translateX(4em)
    }

    50% {
        -webkit-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-moz-keyframes shakeit {
    0% {
        -moz-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    25% {
        -moz-transform: translateX(4em);
        transform: translateX(4em)
    }

    50% {
        -moz-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    100% {
        -moz-transform: translateX(0);
        transform: translateX(0)
    }
}

@-o-keyframes shakeit {
    0% {
        -o-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    25% {
        -o-transform: translateX(4em);
        transform: translateX(4em)
    }

    50% {
        -o-transform: translateX(-4em);
        transform: translateX(-4em)
    }

    100% {
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animateProfileGate {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.profiles-gate-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #141414;
    z-index: 0
}

.profiles-gate-container .centered-div {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.profiles-gate-container .centered-div.list-profiles-container:not(.js-transition-node) {
    -webkit-animation: animateProfileGate 450ms forwards;
    -moz-animation: animateProfileGate 450ms forwards;
    -o-animation: animateProfileGate 450ms forwards;
    animation: animateProfileGate 450ms forwards
}

.profiles-gate-container .centered-div.loading-wrapper {
    opacity: 1
}

@media screen and (max-width: 400px) {
    .profiles-gate-container {
        max-width:initial
    }
}

.profiles-gate-container ul {
    padding: 0
}

.profiles-gate-container {
    padding: 5px
}

.profiles-gate-container .profile-icon {
    /* height:10vw; */
    /* width:10vw; */
    /* max-height:200px; */
    /* max-width:200px; */
    min-height: 84px;
    min-width: 84px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.profiles-gate-container .profile-icon::after {
    content: '';
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: .3em solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.profiles-gate-container .activeProfile {
    border-color: #e5e5e5
}

.profiles-gate-container .profile-edit-mode {
    opacity: .5
}

.profiles-gate-container .profile-name {
    line-height: 1.2em;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    margin: .6em 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

@media screen and (min-width: 1666px) {
    .profiles-gate-container .profile-name {
        font-size:24px
    }
}

@media screen and (max-width: 800px) {
    .profiles-gate-container .profile-name {
        font-size:12px
    }
}

.profiles-gate-container li {
    display: inline-block;
    vertical-align: top;
    position: relative
}

.profiles-gate-container li.profile {
    width: 10vw;
    max-width: 200px;
    min-width: 84px
}

.profiles-gate-container li.profile:not(:last-child) {
    margin: 0 2vw 0 0
}

.profiles-gate-container li.profile .svg-icon-profile-lock {
    width: 20px;
    height: 20px;
    color: #666
}

.profiles-gate-container li a {
    text-decoration: none
}

.profiles-gate-container li a.focused,.profiles-gate-container li a:focus,.profiles-gate-container li a:hover {
    cursor: pointer
}

.profiles-gate-container li a.focused .profile-icon,.profiles-gate-container li a:focus .profile-icon,.profiles-gate-container li a:hover .profile-icon {
    border-color: #e5e5e5
}

.profiles-gate-container li a.focused .profile-icon::after,.profiles-gate-container li a:focus .profile-icon::after,.profiles-gate-container li a:hover .profile-icon::after {
    border-color: #e5e5e5
}

.profiles-gate-container li a.focused .profile-name,.profiles-gate-container li a:focus .profile-name,.profiles-gate-container li a:hover .profile-name {
    color: #e5e5e5
}

.profiles-gate-container li a.focused .addProfileIcon,.profiles-gate-container li a:focus .addProfileIcon,.profiles-gate-container li a:hover .addProfileIcon {
    background-color: #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.profiles-gate-container .addProfileIcon {
    font-size: 5vw;
    color: grey;
    text-align: center;
    text-decoration: none;
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width: 1666px) {
    .profiles-gate-container .addProfileIcon {
        font-size:100px
    }
}

@media screen and (max-width: 865px) {
    .profiles-gate-container .addProfileIcon {
        font-size:50px
    }
}

.profiles-gate-container .profile-name {
    line-height: 1.5
}

.profile-button {
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.2vw;
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: .5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent
}

@media screen and (max-width: 800px) {
    .profile-button {
        font-size:13px
    }
}

.profile-button:focus,.profile-button:hover {
    color: #fff;
    border: 1px solid #fff
}



.list-profiles {
    max-width: 80%;
    background: #141414
}

.list-profiles .choose-profile,.list-profiles .profile-gate-label {
    opacity: 1;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out
}

.list-profiles .choose-profile {
    margin: 2em 0
}

.list-profiles .profile-gate-label {
    width: 100%;
    color: #fff;
    font-size: 3.5vw
}

@media screen and (max-width: 800px) {
    .list-profiles .profile-gate-label {
        font-size:30px
    }
}

.list-profiles .avatar-wrapper {
    position: relative
}

.list-profiles .svg-edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.list-profiles .svg-edit-overlay .svg-icon-edit {
    width: 3rem;
    height: 3rem;
    max-width: 70px;
    max-height: 70px
}

@media screen and (min-width: 0) and (max-width:480px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:1.5vw
    }
}

@media screen and (min-width: 481px) and (max-width:840px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:1vw
    }
}

@media screen and (min-width: 841px) and (max-width:1280px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1281px) and (max-width:1600px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1601px) and (max-width:1920px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1921px) and (max-aspect-ratio:4/3) {
    body,html {
        font-size:12px
    }
}

@media screen and (max-width: 480px) and (orientation:landscape) {
    body,html {
        font-size:1.5vw
    }
}

@media screen and (min-width: 481px) and (max-width:840px) and (orientation:landscape) {
    body,html {
        font-size:1.2vw
    }
}

@media screen and (min-width: 841px) and (max-width:1280px) and (orientation:landscape) {
    body,html {
        font-size:.85vw
    }
}

@media screen and (min-width: 1281px) and (max-width:1600px) and (orientation:landscape) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1601px) and (max-width:1920px) and (orientation:landscape) {
    body,html {
        font-size:.75vw
    }
}

@media screen and (min-width: 1921px) and (orientation:landscape) {
    body,html {
        font-size:14px
    }
}

.bd {
    z-index: 0;
    overflow: hidden
}

/* home screen */
div.list-profiles{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.list-profiles .choose-profile {
    margin: 2em 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.profile-icon {
    box-sizing: border-box;
    width: 10vw;
    height: 10vw;
    max-width: 200px;
    max-height: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    background-size: cover;
    background-color: #333;
    border-radius: 4px;
    border: none;
}

.profiles-gate-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #141414;
    z-index: 0;
}

span.profile-name{
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border-color: #808080;
    color: grey;
}

img#profile{

    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 19px;
    margin-bottom:15px ;
}

img#profile-user{
    margin-top: 19px;
    border-radius: 5px; 
    margin-right: 15px;
    margin-bottom:15px ;

}

span.profile-button {
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
    font-size: 1.3vw;
    
}
.profile-button {
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.3vw;
}   

.profile-button a, .profile-button span {
    border: 1px solid grey;
    color: grey;
    padding: .5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: .9em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../assets/capa-house.jpg');
    height:400px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
    display: inline-flex;
}

@media screen and (max-width: 800px){
    .profile-button {
        font-size: 13px;
    }
}